<div>
  <p-dataView #dv [value]="productsInCart()" [layout]="'list'">
    <ng-template pTemplate="header">
      <button
        pButton
        icon="pi pi-credit-card"
        class="md:align-self-end mb-2"
        (click)="CheckOut()"
      >
        -check out
      </button>
    </ng-template>
    <ng-template pTemplate="list">
      <div class="grid grid-nogutter">
        <div
          class="col-12"
          *ngFor="let product of productsInCart(); let first = first"
        >
          <div
            class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
            [ngClass]="{ 'border-top-1 surface-border': !first }"
          >
            <img
              class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block border-round"
              [src]="product.ImageURL"
              [alt]="product.Name"
            />
            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-right xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start gap-3"
              >
                <div class="text-2xl font-bold text-900">
                  <span>{{ product.Name }} (X {{ product.quantity }})</span>
                </div>

                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{ product.Category }}</span>
                  </span>
                </div>
                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-dollar"></i>
                    <span class="font-semibold"
                      >{{ product.Price + "$" }}
                    </span>
                  </span>
                </div>
              </div>
              <div
                class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
              >
                <span class="text-2xl font-semibold">{{
                  product.Price * (product.quantity || 1) + "$"
                }}</span>
                <button
                  pButton
                  icon="pi pi-trash"
                  class="md:align-self-end mb-2 p-button-rounded"
                  (click)="removeProduct(product)"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <p-dialog
          *ngIf="isCheckOut"
          [(visible)]="visible"
          [modal]="true"
          [style]="{ width: '35vw' }"
          [draggable]="true"
          [resizable]="true"
          [dismissableMask]="true"
        >
          <app-check-out (formSubmitted)="onFormSubmitted($event)" />
        </p-dialog>
      </div>
    </ng-template>
  </p-dataView>
</div>
