<p-toast position="bottom-left"></p-toast>
<div>
  <p-dataView #dv [value]="filteredProducts" [layout]="'grid'">
    <ng-template pTemplate="header">
      <div class="flex justify-content-end">
        <input type="text" (input)="onSearch($event)" placeholder="Search..." />
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template pTemplate="list">
      <app-product-list-layout
        [products]="filteredProducts"
        (onAddToCart)="addProductToCart($event)"
      />
    </ng-template>
    <ng-template pTemplate="grid">
      <app-product-grid-layout
        [products]="filteredProducts"
        (onAddToCart)="addProductToCart($event)"
      />
    </ng-template>
  </p-dataView>
</div>
